
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters{
  margin-right: 30px;
  font-size:14px;
  text-align: center;
strong{
  display: block;
  font-size: 1.7em;
}
 .status{
   &.unanswered{
     border:none;
   }
   &.answered{
    border:1px solid $color-green;
    color: $color-green;
    padding: 5px;
  }
  &.answered-accepted{
    background: $color-green;
    color: $color-white;
    padding: 5px;
  }
 }
 .view{
   margin-top: 10px;
 }
}